{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Copied from Solo index.hbs --}}
<section class="home-section gh-outer">
    <div class="hero gh-inner">
        <img class="gh-about-image" src="{{@site.cover_image}}" alt="{{@site.title}}"/>
        <script>
            (function () {
                if (!document.body.classList.contains('has-background-about')) return;

                const about = document.querySelector('.gh-about');
                if (!about) return;

                const image = about.querySelector('.gh-about-image');

                about.style.setProperty('--about-height', image.clientWidth * image.naturalHeight / image.naturalWidth + 'px');
                about.classList.add('initialized');
            })();
        </script>
        <div class="center gh-about-content">
            <div class="primary-secondary-content">
                <h1 class="gh-about-primary">{{{@custom.home_hero_header}}}</h1>
                <p class="gh-about-secondary">{{{@custom.home_hero_subtext}}}</p>
                {{#if @site.members_enabled}}
                    {{#unless @member}}
                        <div class="gh-subscribe-input" data-portal>
                            jamie@example.com
                            <span class="gh-btn gh-primary-btn">Subscribe</span>
                        </div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

{{! Added by me }}
<section class="home-section">
    <div class="left gh-outer">
        <div class="gh-about-inner gh-inner">
            <div class="gh-about-content">
                <div class="left primary-secondary-content">
                    <a href="{{@site.url}}/about">
                        <h1 class="gh-about-primary">{{{@custom.home_about_header}}}</h1>
                    </a>
                    <p class="gh-about-secondary">{{{@custom.home_about_subtext}}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{! Added by me }}
<section class="home-section">
    <div class="left gh-outer">
        <div class="gh-about-inner gh-inner">
            <div class="gh-about-content">
                <div class="left primary-secondary-content">
                    <a href="{{@site.url}}/products">
                        <h1 class="gh-about-primary">{{{@custom.home_products_header}}}</h1>
                    </a>
                    <p class="gh-about-secondary">{{{@custom.home_products_subtext}}}</p>
                </div>
            </div>
        </div>
    </div>

    {{! Copied from London index.hbs }}
    <div class="post-feed">
        {{! Added by me }}
        {{#get "posts" include="tags" filter="tag:[hash-home]+tag:[products]" limit="4" }}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </div>

</section>



{{! Added by me }}
<section class="home-section">
    <div class="left gh-outer">
        <div class="gh-about-inner gh-inner">
            <div class="gh-about-content">
                <div class="left primary-secondary-content">
                    <a href="{{@site.url}}/writing">
                        <h1 class="gh-about-primary"> {{{@custom.home_writing_header}}}</h1>
                    </a>
                    <p class="gh-about-secondary">{{{@custom.home_writing_subtext}}}</p>
                </div>
            </div>
        </div>
    </div>

    {{! Copied from Solo index.hbs }}
    <main class="gh-main-alt gh-outer">
        <div class="is-wave gh-inner">
            <div class="post-feed gh-feed">
                {{! Added by me }}
                {{#get "posts" include="tags" filter="tag:[hash-home]+tag:[writing]" limit="5" }}
                    {{#foreach posts}}
                        {{> "wave/loop"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </main>

</section>

{{! Added by me }}
<section class="home-section">
  <div class="left gh-outer">
    <div class="gh-about-inner gh-inner">
      <div class="gh-about-content">
        <div class="left primary-secondary-content">
          <a href="{{@site.url}}/contact">
            <h1 class="gh-about-primary">
              {{{@custom.home_contact_header}}}
            </h1>
          </a>
          <p class="gh-about-secondary">
            {{{@custom.home_contact_subtext}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>